<template>
  <div class="card">
    <div class="header">
      <h4 class="title">{{!edit ? 'Crear un nuevo paciente': 'Editando Paciente'}} </h4>
    </div>
    <div class="content">
      <form>
        <div class="row">
          <div class="col-md-4">
            <fg-input type="text"
                      label="Nombre"
                      placeholder="Julian Alejandro"
                      v-model="patient.name">
            </fg-input>
          </div>
          <div class="col-md-6">
            <fg-input type="text"
                      label="Apellido Paterno"
                      placeholder="Ortega"
                      v-model="patient.lastName">
            </fg-input>
          </div>
          <div class="col-md-2">
            <fg-input type="text"
                      label="Genero"
                      placeholder="Masculino"
                      v-model="patient.gender">
            </fg-input>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <fg-input type="text"
                      label="Telefono"
                      placeholder="9999-999-999"
                      v-model="patient.phone">
            </fg-input>
          </div>
          <!-- <div class="col-md-4">
            <fg-input type="text"
                      label="Dispositivo"
                      placeholder="123123"
                      v-model="patient.Dispositivo">
            </fg-input>
          </div> -->
          <div class="col-md-4">
            <fg-input type="text"
                      label="RFC"
                      placeholder="ALSKDMFJDKSLAK"
                      :disable="edit"
                      v-model="patient._id">
            </fg-input>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <fg-input type="text"
                      label="Domicilio"
                      placeholder="Colonia, Calle, Numero"
                      v-model="patient.address">
            </fg-input>
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-info btn-fill btn-wd" @click.prevent="actionPatient">
            {{!edit ? 'Crear' : 'Editar'}} Paciente
          </button>
          <button class="btn btn-wd" @click.prevent="close">
            Cancelar
          </button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</template>
<script>
  import PatientService from 'services/patient.service'

  export default {
    props: ['closePatientForm', 'addNewPatient', 'editPatient', 'patient', 'edit'],
    data () {
      return {
      }
    },
    methods: {
      actionPatient () {
        const view = this;
        if (!view.edit) {
          PatientService.createPatient(this.patient).then(function (response) {
            view.addNewPatient(response.data);
          });
        } else {
          PatientService.editPatient(this.patient).then(function (response) {
            view.editPatient(response.data);
          });
        }
        this.close();
      },
      close () {
        this.closePatientForm();
        this.clearPatient();
      },
      clearPatient () {
        this.patient = {}
      }
    }
  }

</script>
<style>

</style>
