<template>
    <div class="row">
      <div class="col-sm-12" v-if="showPatientForm">
        <patient-form :closePatientForm="closePatientForm" :addNewPatient="addNewPatient" :editPatient="editPatient" :patient="currentPatient" :edit="edit" />
      </div>
      <div class="col-lg-12 col-md-12">
        <button class="btn btn-info btn-fill btn-wd new-btn" @click.prevent="displayPatientForm" v-if="!showPatientForm">
          Crear Paciente
        </button>
        <patients-list-card v-bind:patients="patients" :removePatient="removePatient" :displayAndEditPatientForm="displayAndEditPatientForm"> 

        </patients-list-card>
      </div>
    </div>
</template>
<script>
  import PatientsListCard from './PatientsListCard.vue'
  import PatientForm from './PatientForm'
  import PatientService from 'services/patient.service'

  export default {
    components: {
      PatientsListCard,
      PatientForm
    },
    data () {
      return {
        showPatientForm: false,
        patients: [],
        currentPatient: {},
        edit: false
      }
    },
    created: function () {
      // `this` points to the vm instance
      PatientService.getAllPatients().then((response) => {
        this.patients = response.data;
      })
    },
    methods: {
      displayPatientForm () {
        this.showPatientForm = true
      },
      displayAndEditPatientForm (patient) {
        this.currentPatient = patient;
        this.showPatientForm = true;
        this.edit = true;
      },
      closePatientForm () {
        this.showPatientForm = false;
        this.currentPatient = {};
        this.edit = false;
      },
      addNewPatient (newPatient) {
        this.patients.push(newPatient);
      },
      editPatient (patient) {
        this.patients = this.patients.map(function (patientItem) {
          return patientItem._id !== patient._id ? patientItem : patient;
        })
      },
      removePatient (patientId) {
        const view = this;
        PatientService.removePatient(patientId).then(function (response) {
          view.patients = view.patients.filter(function (patient) {
            return patient._id !== patientId
          })
        })
      }
    }
  }

</script>
<style>

</style>
