<template>
  <div class="card">
    <div class="header">
      <h4 class="title">{{title}}</h4>
    </div>
    <div class="content">
      <ul class="list-unstyled users">
        <li>
          <div class="row user-item" v-for="patient in patients" v-bind:key="patient._id">
            <div class="col-xs-1">
              <div class="avatar">
                <img :src="patient.image || 'static/img/faces/face-0.jpg'" alt="Circle Image" class="img-circle img-no-padding img-responsive">
              </div>
            </div>
            <div class="col-xs-8">
              <h4>{{patient.name + ' ' + patient.lastName }}</h4>
              <span class="description">
                {{patient._id}}, {{patient.address}}
              </span>
            </div>
  
            <div class="col-xs-3 text-right">

            <button class="btn btn-sm btn-warning btn-icon" v-on:click="removePatient(patient._id)">
                <i class="ti-close"></i>
              </button>
            <button class="btn btn-sm btn-success btn-icon" v-on:click="displayAndEditPatientForm(patient)">
                <i class="ti-pencil"></i>
              </button>
              <router-link class="btn btn-sm btn-success btn-icon" :to="{ path: 'patient/' + patient._id }">
                <i class="ti-angle-right"></i>
              </router-link>
              
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
  export default {
    props: ['patients', 'removePatient', 'displayAndEditPatientForm'],
    data () {
      return {
        title: 'Pacientes'
      }
    },
    methods: {
    }
  }

</script>
<style>
  
</style>
