<template>
  <div class="card">
    <div class="header">
      <h4 class="title">{{!edit ? 'Crear un nuevo doctor': 'Editando doctor'}} </h4>
    </div>
    <div class="content">
      <form>
        <div class="row">
          <div class="col-md-4">
            <fg-input type="text"
                      label="Nombre"
                      placeholder="Julian Alejandro"
                      v-model="doctor.name">
            </fg-input>
          </div>
          <div class="col-md-4">
            <fg-input type="text"
                      label="Apellido Paterno"
                      placeholder="Ortega"
                      v-model="doctor.lastName">
            </fg-input>
          </div>
          <div class="col-md-2">
            <fg-input type="text"
                      label="Genero"
                      placeholder="Masculino"
                      v-model="doctor.gender">
            </fg-input>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <fg-input type="text"
                      label="Telefono"
                      placeholder="9999-999-999"
                      v-model="doctor.phone">
            </fg-input>
          </div>
          <div class="col-md-4">
            <fg-input type="text"
                      label="RFC"
                      placeholder="ALSKDMFJDKSLAK"
                      :disable="edit"
                      v-model="doctor._id">
            </fg-input>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-info btn-fill btn-wd" @click.prevent="actionDoctor">
            {{!edit ? 'Crear' : 'Editar'}} Doctor
          </button>
          <button class="btn btn-wd" @click.prevent="close">
            Cancelar
          </button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</template>
<script>
  import DoctorService from 'services/doctors.service'

  export default {
    props: ['closeDoctorForm', 'addNewDoctor', 'editDoctor', 'doctor', 'edit'],
    data () {
      return {
      }
    },
    methods: {
      actionDoctor () {
        const view = this;
        if (!view.edit) {
          DoctorService.createDoctor(this.doctor).then(function (response) {
            view.addNewDoctor(response.data);
          });
        } else {
          DoctorService.editDoctor(this.doctor).then(function (response) {
            view.editDoctor(response.data);
          });
        }
        this.close();
      },
      close () {
        this.closeDoctorForm();
        this.clear();
      },
      clear () {
        this.doctor = {}
      }
    }
  }

</script>
<style>

</style>
