<template>
  <div class="card">
    <div class="header">
      <h4 class="title">{{title}}</h4>
    </div>
    <div class="content">
      <ul class="list-unstyled users">
        <li>
          <div class="row user-item" v-for="doctor in doctors" v-bind:key="doctor._id">
            <div class="col-xs-1">
              <div class="avatar">
                <img :src="doctor.image || 'static/img/faces/face-0.jpg'" alt="Circle Image" class="img-circle img-no-padding img-responsive">
              </div>
            </div>
            <div class="col-xs-8">
              <h4>{{doctor.name + ' ' + doctor.lastName}}</h4>
              <span class="description">
                {{doctor._id}}, {{doctor.phone}}
              </span>
            </div>
  
            <div class="col-xs-3 text-right">

            <button class="btn btn-sm btn-warning btn-icon" v-on:click="removeDoctor(doctor._id)">
                <i class="ti-close"></i>
              </button>
            <button class="btn btn-sm btn-success btn-icon" v-on:click="displayAndEditDoctorForm(doctor)">
                <i class="ti-pencil"></i>
              </button>
              <router-link class="btn btn-sm btn-success btn-icon" :to="{ path: 'doctor/' + doctor._id }">
                <i class="ti-angle-right"></i>
              </router-link>
              
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
  export default {
    props: ['doctors', 'removeDoctor', 'displayAndEditDoctorForm'],
    data () {
      return {
        title: 'Doctores'
      }
    },
    methods: {
    }
  }

</script>
<style>
  
</style>
