<template>
    <div class="row">
      <div class="col-sm-12" v-if="showDoctorForm">
        <doctor-form :closeDoctorForm="closeDoctorForm" :addNewDoctor="addNewDoctor" :editDoctor="editDoctor" :doctor="currentDoctor" :edit="edit" />
      </div>
      <div class="col-lg-12 col-md-12">
        <button class="btn btn-info btn-fill btn-wd new-btn" @click.prevent="displayDoctorForm" v-if="!showDoctorForm">
          Crear Doctor
        </button>
        <doctors-list-card v-bind:doctors="doctors" :removeDoctor="removeDoctor" :displayAndEditDoctorForm="displayAndEditDoctorForm"> 

        </doctors-list-card>
      </div>
    </div>
</template>
<script>
  import DoctorsListCard from './DoctorsListCard.vue'
  import DoctorForm from './DoctorForm.vue'
  import DoctorService from 'services/doctors.service'
  export default {
    components: {
      DoctorsListCard,
      DoctorForm
    },
    data () {
      return {
        showDoctorForm: false,
        doctors: [],
        currentDoctor: {},
        edit: false
      }
    },
    created: function () {
      // `this` points to the vm instance
      DoctorService.getAllDoctors().then((response) => {
        this.doctors = response.data;
      })
    },
    methods: {
      displayDoctorForm () {
        this.showDoctorForm = true
      },
      displayAndEditDoctorForm (doctor) {
        this.currentDoctor = doctor;
        this.showDoctorForm = true;
        this.edit = true;
      },
      closeDoctorForm () {
        this.showDoctorForm = false;
        this.currentDoctor = {};
        this.edit = false;
      },
      addNewDoctor (newDoctor) {
        this.doctors.push(newDoctor);
      },
      editDoctor (doctor) {
        this.doctors = this.doctors.map(function (doctorItem) {
          return doctorItem._id !== doctor._id ? doctorItem : doctor;
        })
      },
      removeDoctor (doctorId) {
        const view = this;
        DoctorService.removeDoctor(doctorId).then(function (response) {
          view.doctors = view.doctors.filter(function (doctor) {
            return doctor._id !== doctorId
          })
        })
      }
    }
  }

</script>
<style>

</style>
