<template>
  <div>
    <!--Alert cards-->
    <div class="row">
      <!-- :to="{ path: 'patient/' + alert._id_P }" -->
      <div class="col-lg-3 col-sm-6" v-for="alert in alerts" style="cursor: pointer" v-bind:key="alert._id">
        <alerts-card>
          <div class="icon-big text-center" :class="`icon-${getType(alert.details)}`" slot="header">
            <i class="ti-pulse"></i>
          </div>
          <div class="numbers" slot="content">
            <h6>{{alert.patient.name}} {{alert.patient.lastName}}</h6>
            <!-- {{alert.FrecuenciaCardiaca}} -->
          </div>
          <div class="alert" slot="footer">
            <div class="row">
              <div class="col-sm-10">
                <span class="date row"><i class="ti-calendar"></i> {{alert.createdAt | formatDate}}</span> 
                <span class="date row"><i class="ti-time"></i> {{alert.createdAt | formatTime}}</span>
              </div>
              <div class="col-sm-2">
                <!-- <a class="btn btn-sm btn-success btn-icon display-inline">
                  <i class="ti-check"></i> 
                </a> -->
                <router-link class="btn btn-sm btn-success btn-icon display-inline" :to="{ path: '/admin/patient/' + alert.patient._id + '/' + alert._id }">
                  <i class="ti-angle-right"></i>
                </router-link>
              </div>
              
            </div>
            
          </div>
        </alerts-card>
      </div>
    </div>

  </div>
</template>
<script>
  import AlertsCard from 'components/UIComponents/Cards/AlertsCard.vue'
  import AlertService from 'services/alerts.service'
  // var json = require('./data/232a.json');

  // json.patientId = 'ASDASDFN'
  // json.name = 'Alejandro'
  // json.ApellidoP = 'Ortega'
  // json.createdAt = new Date()

  export default {
    components: {
      AlertsCard
    },
    /**
     * Chart data used to render stats, charts. Should be replaced with server data
     */
    data () {
      return {
        alerts: []
      }
    },
    sockets: {
      onmessage: function ({ data }) {
        var { alert, patient } = JSON.parse(data);
        if (alert && alert._id) {
          alert.patient = patient;
          this.alerts.unshift(alert);
        }
      }
    },
    created: function () {
      // `this` points to the vm instance
      AlertService.getNotifications().then((response) => {
        this.alerts = response.data.reverse();
      })
    },
    methods: {
      seenAlert: function (alert) {
        const req = {
          patientId: alert._id_P,
          alertId: alert.idEvento
        }
        this.$socket.emit('seen', req);
      },
      getType: function ({ verde, roja, arritmia }) {
        let type = ''
        if (verde && !arritmia && !roja) {
          type = 'success'
        }
        if (!roja && arritmia) {
          type = 'warning'
        }
        if (roja) {
          type = 'danger'
        }
        return type
      }
    }
  }

</script>
<style>
  .display-inline {
    display: inline !important;
  }
  .date {
    padding: 0 !important;
    margin: 0 !important;
  }
  h6 {
    font-size: 20px !important;
    padding-top: 15px;
    padding-right: 16px;
  }
</style>
